
.background__image {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ42em8PhEGYTb4y56QsJYwqzenEQDXoeyXg&usqp=CAU');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
